<head>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="choose.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Study Guide</title>
</head>

<body>

<input type="hidden" id="topic_id" value="{{topic.id}}">

<div class="nav">
  <ul>
    <li><a style="border-top-left-radius:5px;border-top-right-radius:5px" href="index.rb">Home</a></li>
    <li><a href="learn.rb">Learn</a></li>
    <li><a style="border-bottom-left-radius:5px;border-bottom-right-radius:5px" href="explore.rb">Explore</a></li>
  </ul>
</div>

<div class="edit">
  Add module: <input id="add_module" type="text"><br>
  Add topic: <input id="add_topic" type="text">
</div>

<div class="content">
	{{error}}
	
	{% if topic.name %}
  	<h1>{{topic.name}}</h1>
	{% endif%}
	
  {% if modules != empty %}
    Modules in {{topic.name}}<br>
    {% for module in modules %}
      <a href="module.rb?id={{module.id}}"><span class="box">{{module.name}}</span></a>
    {% endfor %}
  {% endif %}

  {% if modules != empty and subtopics != empty %}
    <hr>
  {% endif %}

  {% if subtopics != empty %}
    Subtopics in {{topic.name}}:<br>
    {% for subtopic in subtopics %}
      <a href="choose.rb?topic={{subtopic.id}}"><span class="topic_box">{{subtopic.name}}</span></a>
    {% endfor %}
  {% endif %}

  <a href="quiz.rb?id={{topic.id}}"><span class="topic_box">Study this topic</span></a>
</div>
</body>
