<head>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Study Guide</title>
</head>

<body>

<div class="nav">
  <ul>
    <li><a style="border-top-left-radius:5px;border-top-right-radius:5px" href="index.rb">Home</a></li>
    <li><a href="learn.rb">Learn</a></li>
    <li><a style="border-bottom-left-radius:5px;border-bottom-right-radius:5px" href="explore.rb">Explore</a></li>
  </ul>
</div>

<div class='edit'>
  Add topic: <input type="text">
</div>

<div class="content">
  <div class='box'>
    What are you studying?
  </div>
  <br>
  {% for topic in topics %}
    <a href='choose.rb?topic={{topic.id}}'>
      <span class='topic_box'>
        {{topic.name}}
      </span>
    </a>
  {% endfor %}
</body>
