<head>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="quiz.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Study Guide</title>
</head>

<body>

<div class="nav">
  <ul>
    <li><a style="border-radius:5px" href="index.rb">Home</a></li>
  </ul>
</div>

<div class="edit">
  <span class='edit_text'>Add question</span>
  <input type='hidden' value='{{id}}'>
  <textarea>Enter your question here</textarea>
</div>

<div class="content">
	{{error}}
  {% for question in questions %}
    <div class="question_box">
      <div class="edit_question saved">
        Edit
      </div>
      <input type="hidden" id="question_id" value="{{question.id}}">
      <div class="question_text">
        {{question.text}}
      </div>
      <textarea class="question_edit">{{question.text}}</textarea>
      <span class="answers">
        <ol type="A">
          {% for answer in question.answers %}
            <li>
              <span class="answer_text">{{answer.value}}</span>
              <span class="answer_edit"><input type="text" value="{{answer.value}}"></span>
              <input type="hidden" id="answer_id" value="{{answer.id}}">
              <span class="correct">Correct</span>
              <span class="incorrect">Incorrect</span>
            </li>
          {% endfor %}
        </ol>
        <input type="submit" class="add_answer" value="Add Answer">
      </span>
    </div>
  {% endfor %}
</div>
</body>
