/* all page elements */

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: #444444;
}

a:visited {
    color: #444444;
}

a:hover {
    color: #222222;
}

ul {
    list-style-type: none;
}

textarea {
  width: 100%;
  height: 200px;
}

/* generic building blocks */

div.content {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  width: 70%;
}

.box {
  text-align: center;
  border-radius: 5px;
  border: 3px solid #888888;
  background: #dddddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

a .box:hover {
  background: #cccccc;
}

/* nav bar */

.nav {
    position: fixed;
    width: 11em;
    padding: 0 0 0 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    border: none;
}

.nav li {
    margin: 0;
}

.nav li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333333;
    background-color: #555555;
    color: #fff;
    text-decoration: none;
    width: auto;
}

.nav li a:hover {
    border-left: 10px solid #444444;
    background-color: #666666;
    color: #fff;
}

/* edit tools */

.edit {
  border: 3px solid #888888;
  border-radius: 5px;
  background: #dddddd;
  padding: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}

/* rename this to something better */
.edit_question {
  position: absolute;
  top: 0px;
  right: 0px;
  color: blue;
  cursor: pointer;
}

.question_edit {
  width: 90%;
}

.answer_edit {
  margin: 0px auto;
}

/* topics */

.topic_box {
  text-align: center;
  border-radius: 5px;
  border: 3px solid #46CFA5;
  background: #6EBAA3;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

a .topic_box {
  color: black;
}

a .topic_box:hover {
  background: #548C7B;
  color: black;
}

/* definitions */

div.definition {
  background: #dddddd;
  width: 50%;
  border: 3px solid #888888;
  border-radius: 5px;
  margin: 0px auto;
}

div.definition_name {
  background: #999999;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* questions */

.question_box {
  position: relative;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #888888;
  background: #dddddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 70%;
}

.question_text {
  margin: 0px auto;
  width: 50%;
}

.answers {
  margin: 0px auto;
  text-align: center;
  display: inline-block;
}

.answers li {
  cursor: pointer;
  margin: 5px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
